<div class="container d-flex w-100 justify-content-start mt-3">
  <div class="w-50">
    <% if (typeof errors != "undefined") { %> 
      <div class="alert alert-danger" role="alert">
        <% errors.forEach(error => { %>
          <p><%- error.msg %></p>
          <% console.log(error.msg) %> 
        <% }) %> 
      </div>
    <% } %>
    <form method="post" action="/data/edit/<%= data.username %>">
      <div class="mb-3">
        <input
          type="hidden"
          class="form-control"
          id="oldusername"
          name="oldUsername"
          value="<%= data.username || data.oldUsername%>"
        />
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          value="<%= data.username %>"
        />
        <label for="nohp" class="form-label">No. HP</label>
        <input
          type="text"
          class="form-control"
          id="nohp"
          name="nohp"
          value="<%= data.nohp %>"
        />
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          value="<%= data.email %>"
        />
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</div>
